.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply mt-4 mb-1;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown ul li p {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li ul {
  margin-top: 0;
  margin-left: 15px;
}
